body{
    background: #011b18;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background: url("../images/entr-online-background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.info{
    text-align: right;
    padding: 30px 30px 0 0;
}

h1{
    padding: 0;
    margin: 0;
}

.margin{
    margin-top: 10px;
}

a{
    color: #ce9930;
    text-decoration: none;
    padding-bottom: 4px;
}

a:hover{
    color: #FFFFFF;
}

.logo{
    width: 40vw;
    margin: 25vh auto auto auto;
}

@media screen and (max-width: 900px) {
    .logo{
        width: 70vw;
    }
}